# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/**/*.log

# OS junk
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/
*.swp

# Coverage
coverage/
.nyc_output/

# Build outputs
dist/
build/

# Temporary
*.tmp
*.temp

# Lock backup files (created by our PowerShell backup script)
*.bak.*

# Debug output
debug/
